<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"
	default-autowire="no" default-init-method="init" default-destroy-method="destroy">

	<bean id="spamManager" class="org.jboss.sbs.spam.DbSpamManager">
		<property name="abuseManager" ref="abuseManagerImpl" />
		<property name="userManager" ref="userManagerImpl" />
		<property name="documentManager" ref="documentManager" />
		<property name="forumManager" ref="forumManager" />
		<property name="blogManager" ref="blogManager" />
		<property name="favoriteManager" ref="favoriteManager" />
		<property name="statusLevelManager" ref="statusLevelManager" />
		<property name="jiveObjectModerator" ref="jiveObjectModerator" />
		<property name="approvalManager" ref="approvalManager" />
		<property name="jiveObjectLoader" ref="jiveObjectLoader" />
		<property name="externalUrlObjectType" ref="externalUrlObjectType" />
	</bean>

</beans>
